body{
    margin: 0px;
    min-height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    min-height: 100vh;
}
.dashboard{
    grid-column: 1/2;
    grid-row: 1/span 4;
    background-color: #0C4A6E;
    display: flex;
    flex-direction: column;
    gap:50px;
    padding: 20px;
    padding-top: 0%;
}
.personal-btns{
    display: flex;
    flex-direction: column;
    gap:12px;
    
}
.settings{
    display: flex;
    flex-direction: column;
    gap:12px;
}
.dashboard button{
    background-color: inherit;
    color:#D4F4FF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:12px;
    font-size: 18px;
    border: none;
    font-family: "Oswald";
    
}
#main{
    font-size: 30px;
}
.search-bar{
    grid-column: 2/4;
    display: flex;
    padding:4px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:aliceblue;
}
#search-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:12px;
    
}
#search-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:12px;
    
}
.image-placeholder{
    width:40px;
    height: 40px;
    border: 1px solid #0C4A6E;
    border-radius: 100%;
    flex-shrink: 0;
    
}
#search-right > p{
    margin: 0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0C4A6E;
}   
input[type="text"]{
    appearance: none;
    width: 800px;
    background-color: inherit;
    color: #0C4A6E;
    border-radius: 12px;
    border:2px solid #0C4A6E; 
    flex-shrink:1 ; 
}
.menu{
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
    background-color:aliceblue ;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.username > p{
    margin:0%;
    color: #0C4A6E;
    font-family: "Oswald";
    font-size: 14px;
}
#username{
    font-size: 20px;
}
.image-placeholder.menuimg{
    height: 60px;
    width: 60px;
    border-color: #0C4A6E;
}
.right > button{
    background-color: #A5D2FD;
    width: 100px;
    height: 30px;
    border-radius:12px;
    color: #0C4A6E;
    border: 2px solid #0C4A6E;
}
.right > button:hover{
    background-color: #0C4A6E;
    color: #A5D2FD;
}
.projects{
    background-color: #D4F4FF;
    grid-row: 3/span 2;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    
    gap:20px;
    padding: 12px;;   
}
#card{
    background-color: aliceblue;
    border-radius: 12px;
    height: 250px;
    border-left: 8px solid #EB90BD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgb(0,0,0,.5);
}
p{
    margin: 0;
}
.Card-text{
    padding: 0px 8px;
}
.projects > p{
    color: #0C4A6E;
    font-size: 20px;
    padding-top: 12px;
    padding-left: 12px;
}
#card-title{
    padding: 10px 0px;
    font-size: 20px;
    color: rgb(12, 74, 110);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Card-text > div{
    color: rgb(12, 74, 110,.7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
.card-icons{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding-bottom: 10px;
    padding-right:10px ;
}
.announcements{
    background-color: #D4F4FF;
}
.announcements > p{
    color: #0C4A6E;
    font-size: 20px;
    padding-top: 12px;
    padding-left: 12px;
    margin-bottom:12px ;
}
.announcement{
    display: flex;
    flex-direction: column;
    padding: 12px;    
    gap:30px;
    margin-right: 12px;
    background-color: aliceblue;
    border-radius: 12px;
    height: 80%;
}
#announce{
    
    
}
#an-header{
    color: #0C4A6E;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#an-text{
    color:rgb(12, 74, 110,.7);
    font-size: 14px;
}
#line{
    flex-basis: 1px;;
    height: inherit;
    background-color: #0C4A6E;
}
.trending{
    grid-column: 3/4;
    background-color: #D4F4FF;
}